{% extends "base.twig" %}

{% block content %}
    <main>
    <div class="page-header alignwide">
        <h1 class="page-title">{{ title }}</h1>

        <div class="typography">
            {{ content|raw }}
        </div>
    </div>

        {% if posts|length > 0 %}
        <div class="content-area">
            <ul class="posts">
                {% for post in posts %}
                    <li class="posts__item">
                        <article class="post">
                            <header class="entry-header">
                                <h2 class="entry-title default-max-width"><a href="{{ post.link }}">{{ post.title }}</a></h2>
                            </header>
                            <div class="entry-content">
                                {{ post.content|raw }}
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </main>
{% endblock %}
